p{
    text-align: center!important;
    font-family: "verdana", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    }

    h2{
      margin: 10px;
    }

     
     a{
     	color:#6b5b95;
     }